body {
  background-color: #111;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div {
  marin: 20px auto 0;
  colo: #aaa;
 font-weight: 100;
}
svg {
  postion: absolute;
  top: 0%;
  left: 0%;
  tran  transform: translate(-50%,-50%);
}

.xaxis path,
.xaxis line,
.yaxis path,
.yaxis line {
    stroke: #aaa;
    fill: none;
    shape-rendering: crispEdges;
}

.xaxis text,
.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #aaa;
}

.datapoint {
    cursor: pointer;
    stroke: #111;
    fill: rgba(47, 255, 77, .75);
    stroke-width: 7;
}

.lineChart {
    fill: none;
    stroke-width: 3;
    stroke: rgba(100,100,100, 0.4);
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

