<navbar></navbar>
<div id="container">
  <div class="col-lg-6 col-center text-center">  <div>{{err}}</div></div>
  <form id="form" name="form" method="get" class="search form-inline form-horizontal" ng-submit="submit()">
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <input type="text" id="Films" id="searchBar" class="form-control input" type="text" name="name" search ng-model="query" placeholder="Type in a TV show to get ratings" style="width: 400px" />
      <button id="submit" type="submit" class="btn btn-primary"><i class="fa fa-bar-chart-o"></i></button>
    </div>
    
  </form>

  <div class="row">

    <div ng-hide="goCats" id="graphContainer" class='col-md-10 col-center'>
      <graph></graph>
      <br>
      <div ng-show="showShowInfo">Mouse over the graph for more details</div>
      <br>
      <button ng-show="showShowInfo" class='button' ng-click="goCats = !goCats"><span>Show Overall Rating by Seasons</span></button>
    </div>
    <div ng-show="goCats" id="pieContainer" class='col-md-10  col-lg-offset-1'>
      <pie></pie>
      <button class='button' ng-click="goCats = !goCats"><span>Show Overall Trend</span></button>
    </div>
    <!-- search results info -->
    <section class="showInfo"></section>
    <!-- verdict -->
    <section class="verdict"></section>
  </div>
</div>
<div ng-show="showShowInfo" id="episodeInfo" class="well">
  <div class="row">
    <div class="col-md-4">
      <img src="{{showInfo.Poster}}">
    </div>
    <div class="col-md-8">
      <div>
     {{showInfo.Title}}</div>
        <br>
      <div>
         Plot: {{showInfo.Plot}}</div>
      <div>
         Year: {{showInfo.Year}}</div>
      <div>
         Genre: {{showInfo.Genre}}</div>
      <div>
         Actors: {{showInfo.Actors}}</div>
      <div>
         Awards: {{showInfo.Awards}}</div>
      <div>
         IMDB Rating: {{showInfo.imdbRating}}</div>
      <br>
       <div ng-hide="checkIfAdded(showInfo.Title)">
          <button class="button" ng-click="list(showInfo)" >add to watchlist</button>
        </div>
  
    </div>
  </div>
</div>
<footer></footer>
