<div id="container">
  <form id="form" name="form" method="get" class="search form-inline form-horizontal" ng-submit="submit()">
    <div class="col-lg-6 col-lg-offset-3 text-center">
 <a class= "glyphicon glyphicon-plus"  title="Add to Watchlist" ng-click="getPoster(query)"></a>  
 

<!--  <a  title="Add to Watchlist" ng-click="getPoster(query)">click</a>   -->

<!-- scope.watchlist.push($scope.query); console.log($scope.watchlist) -->
      <input type="text" id="Films" id="searchBar" class="form-control input" type="text" name="name" autocomplete ng-model="query" placeholder="Should I watch this?" style="width: 400px" />
      <button id="submit" type="submit" class="btn btn-primary"><i class="fa fa-bar-chart-o"></i></button>

    </div>
    
  </form>
  <div class="row">
   
    <!-- d3 graph section   id="Films" id="searchBar"  class="form-control input" type="text" name="name" -->
    <div id="graphContainer" class="col-md-12" style="margin: 20px;">
      <graph></graph>
    </div>


    <!-- search results info -->
    <section class="showInfo"></section>
    <!-- verdict -->
    <section class="verdict"></section>
  </div>

<!--   <div class="row">
{{watchlist.join("  ");}}

  </div> -->
  <div class="container-fluid">
  <div class="row" > 
  <div class="col-xs-3" ng-repeat="x in watchlist">
<img src="{{x.link}}">
    </div>
    </div>
    </div>



  <!-- cd-panel -->
</div>
